@import '../../Utils.scss';
@import '../../Source.scss';
.messageboard {
  .right-sidebar {
    @extend %rightsidebar;
  }
  .about-bar {
    @extend %righttopbar;
  }
  .message-bar {
    @extend %rightbottombar;
  }
  .main-wrapper {
    @extend %mainpreviewwrapper
  }
  .main-container {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
  }
  .messagesl {
    margin: 0 auto;
    width: 95%;
  }
  .messagesl-item {
    padding-bottom: 20px;
  }
  .loadMore {
    text-align: center;
  }
  .buttonload {
    background-color: #b3d9ff;
    /* Green background */
    border: none;
    /* Remove borders */
    color: rgb(34, 31, 31);
    /* White text */
    padding: 10px 10px;
    /* Some padding */
    font-size: 16px;
    /* Set a font-size */
    width: 100px;
    margin: 0 auto;
    border-radius: 15px;
    display: inline-block;
  }
  .fa {
    margin-left: -12px;
    margin-right: 8px;
  }
}
@mixin mediajudge($size, $sizenum) {
  @if $size==1024px {}
  @else if $size==812px {
    .messageboard {
      .right-sidebar {
        display: none;
      }
      .main-wrapper {
        max-width: 100%;
      }
    }
  }
  @else if $size==768px {}
  @else if $size==736px {}
  @else if $size==667px {}
  @else if $size==568px {}
  @else if $size==414px {
    .messageboard {
      .messagesl {
        width: 100%;
      }
    }
  }
  @else if $size==375px {}
  @else if $size==360px {}
}
@mixin mediacyc() {
  @each $size, $sizenum in $screensize {
    @media screen and (max-width: $size) {
      @include mediajudge($size, $sizenum)
    }
  }
}
@include mediacyc()
