a {
  text-decoration: none;
}
a:hover {
  position: relative;
}
a[data-title]:hover:after {
  content: attr(data-title);
  width: 100px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}