/*通用样式*/

* {
  box-sizing: border-box;
}
html {
  height: 100%;
  font-size: 16px;
  /*background:#ebf0f0;*/
  /*百分百撑起高度*/
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  font-family: -apple-system, "Helvetica Neue", Arial, "PingFang SC", "Hiragino Sans GB", STHeiti, "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  color: #404040;
  height: 100%;
}
/*样式重置*/
body *{
  font-size:1rem;
}
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
pre {
  white-space: pre-wrap;
}
code {
  color: #657b83;
  background: #f6f6f6;
  font: 16px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  /*font-size: 12px;*/
  padding: .2rem .4rem;
  max-width: 100%;
  white-space: pre-wrap;
}
.articler pre code {
  color: #8492A6;
  display: block;
  background: #23241f;
  font: 16px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  border-radius: 5px;
  max-width: 100%;
  line-height: 1.5em;
  padding: .4rem .6rem;
  overflow-x: auto;
}