.box {
  margin-top: 10px;
}
#button-group {
  margin-top: 5px;
  float: right;
}
.centre {
  margin: 0px auto;
}
.warnwords {
  padding: 5px;
  color: red;
  font-size: 20px;
  text-align: center;
}
