<div class="frame">
  <ul>
    <li @click="router('userAccount')">
      <a class="fa fa-address-card-o" id="userAccount"> 用户资料</a>
    </li>
    <li @click="router('userPassword')">
      <a class="fa fa-cogs" id="userPassword"> 修改密码</a>
    </li>
    <li @click="router('userNotify')">
      <a class="fa fa-envelope-square" id="userNotify"> 用户通知</a>
    </li>
    <li @click="router('shopCart')">
      <a class="fa fa-shopping-cart" id="shopCart"> 购物车</a>
    </li>
    <li @click="router('userOrderList')">
      <a class="fa fa-shopping-basket" id="userOrderList"> 购物订单</a>
    </li>
  </ul>
</div>