<div class="main-container">
  <div class="main-wrapper">
    <div class="password-content">
      <b-card class="user-password" header="修改密码" header-tag="header">
        <b-row class="my-1">
          <b-col sm="3">
            <label for="input-large" class="text">新密码:</label>
          </b-col>
          <b-col sm="9">
            <b-form-input class="input" id="input-large" type="password" placeholder="Enter your password" v-model="password"></b-form-input>
          </b-col>
        </b-row>
        <b-row class="my-1 my-2">
          <b-col sm="3">
            <label for="input-large1" class="text">重复密码:</label>
          </b-col>
          <b-col sm="9">
            <b-form-input class="input" id="input-large1" type="password" placeholder="Enter your password" v-model="repeatPassword"></b-form-input>
          </b-col>
        </b-row>
        <div slot="footer" class="button">
          <b-button variant="primary" @click="update()">更改</b-button>
          <b-button variant="danger" @click="cancel()">取消</b-button>
        </div>
      </b-card>
    </div>
  </div>
  <div class="right-sidebar">
    <div class="right-menu">
      <usernav></usernav>
    </div>
  </div>
</div>